<div class="container pt-5 mb-5">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card border-primary shadow">
        <div class="card-body text-center">
          <h3 class="card-title">White Logo</h3>
          <div class="d-flex justify-content-center mb-3">
            <button class="btn btn-primary btn-sm me-2">Change</button>
            <button class="btn btn-secondary btn-sm">Delete</button>
          </div>
          <img src="logo bg remove.png" alt="Logo" class="img-fluid rounded-circle mb-3" style="max-width: 100px;" />
          <p class="card-text">Existing Logo</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary shadow">
        <div class="card-body text-center">
          <h3 class="card-title">Featured Image (Page Header)</h3>
          <div class="d-flex justify-content-center mb-3">
            <button class="btn btn-primary btn-sm me-2">Change</button>
            <button class="btn btn-secondary btn-sm">Delete</button>
          </div>
          <img src="Slide 16_9 - 1.png" alt="Featured Image" class="img-fluid mb-3" style="max-width: 200px; max-height: 150px;" />
          <p class="card-text">Existing Image</p>
        </div>
      </div>
    </div>
  </div>

