<form action="#!/phones" ng-submit="submitForm()">
  <div class="add-new-phone">
    <div class="add">
        <p>Add New Phone</p>
    </div>
    <div class="phone-data">
        <div class="add-phone-data">
            <p>Add Your Phone Data</p>
        </div>
        <div class="data">
            <div class="input-row">
              <div class="input-group">
                <label for="">Phone Name:</label>
                <input type="text" placeholder="phone name" ng-model="title">
              </div>
             
              <div class="input-group">
                <label for="">Phone image:</label>
                <input type="file" name="" id="" class="file" ng-model="img" accept="image/*">
              </div>
            </div>
            <div class="input-row">
                <div class="input-group">
                  <label for="">catagory</label>
                  <select name="" id="" ng-model="catagories">
                    <option value="Android phone">Android Phone</option>
                    <option value="IOS phone">IOS Phone</option>
                  </select>
                </div>
                <div class="input-group">
                  <label for="">Price(₹)</label>
                    <input type="text" name="" id="" placeholder="Money" ng-model="price">
                </div>
                <div class="input-group">
                  <label for="">launch Dtae:</label>
                  <input type="date" placeholder="date" ng-model="launchOn">
                </div>
              </div>
              <div class="input-row">
                <div class="input-group">
                  <label for="">RAM</label>
                  <input type="text" placeholder="x GB" ng-model="ram">
                </div>
                <div class="input-group">
                  <label for="">Storage(ROM)</label>
                    <input type="text" name="" id="" placeholder="x GB" ng-model="rom">
                </div>
                <div class="input-group">
                    <label for="">Processor</label>
                      <input type="text" name="" id="" placeholder="processor" ng-model="processor">
                  </div>
              </div>
              <div class="input-row">
                <div class="input-group">
                  <label for="">Short content</label>
                  <input type="text" ng-model="shortContent">
                </div>
              </div>
              <div class="input-row">
                <div class="input-group">
                  <label for="">Description</label>
                  <ng-quill-editor
                  id="fcontent"
                  name="fcontent"
                  ng-model="content"
                ></ng-quill-editor>
                </div>
              </div>
              <button class="cancel">Cancel</button>
              <button  type="submit" class="Save-Change">Save Change</button>
        </div>
    </div>
</div>
 </form>